container_commands:
  001_installs:
    command: "sudo yum-config-manager --enable epel"
  002_setup_gdal:
    command: cd /home/ec2-user/gdal-1.11.5/swig/python && /opt/python/run/venv/bin/python setup.py install
  003_migrate:
    command: "source /opt/python/current/env && source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  004_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  005_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "RunAround.settings"
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: RunAround/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:autoscaling:launchconfiguration":
    EC2KeyName: aws-eb
    MonitoringInterval: "1 minute"
    ImageId: "ami-9c65b5e4"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

